{
  "rules": {
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-trailing-spaces": [
      2,
      {"skipBlankLines": false}
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jquery": true
  },
  "globals": {
    "_": true,
    "Backbone": true,
    "App": true
  },
  "extends": "eslint:recommended"
}
